@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    max-width: 1280px;
}

.cabecalho {
    position: relative;
    background-color: aliceblue; 
    width: 100vw;
}

.cabecalho h1{
    padding: 30px 15px;
}

.cabecalho h1:hover {
    font-weight: bold;
}

.titulo {
    display: inline-block;
}

.cabecalho nav {
    display: inline-block;
    position: absolute;
    right: 0;
}

.cabecalho ul li {
    display: inline-block;
    padding: 15px 5px;
}

.cabecalho nav ul li img{
    width: 50px;
    height: 50px;
}

.cabecalho nav ul li img:hover {
    width: 55px;
    height: 55px;
}

.cabecalho nav ul li a{
    text-align: center;
}


.cabecalho figcaption:hover{
    font-weight: bold;
}